{% extends "base.html" %}
{% block content %}

<h2>
    {% if topic_id == 12 %}
        C++ Quiz
    {% else %}
        Select Level
    {% endif %}
</h2>

<style>

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px;
    background: #1d8cf8;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: #0b6bdc;
}

.btn-disabled {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px;
    background: #ccc;
    color: white;
    pointer-events: none;
}

.back-btn {
    position: absolute;
    top: 70px;
    right: 30px;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-btn:hover {
    background-color: #45a049;
}

</style>

{% if topic_id == 12 %}

    <a href="/start_quiz/{{ topic_id }}/1" class="btn">
        level 1
    </a>

{% else %}

    {% for i in range(1,6) %}

        {% if i == 1 or (i-1) in completed_levels %}
            <a href="/start_quiz/{{ topic_id }}/{{ i }}" class="btn">
                Level {{ i }}
            </a>

        {% else %}
            <span class="btn-disabled">
                Level {{ i }} (Locked)
            </span>
        {% endif %}

    {% endfor %}

{% endif %}

<a href="/view_courses" class="back-btn">⬅ Back to courses</a>

{% endblock %}